doctype html
html
  head 
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet")
    style. 
      .main { font-family:'Poppins', sans-serif; margin:3rem}
      button { width:12rem; font-size:110%; border-radius:5px; background-color:#2a9d8f; color:white; padding:6px 2px; border:none; cursor:pointer;font-weight:bolder;align-self:center; }
      .bold {font-weight:bolder}
      .centered {display:block; width:fit-content; margin-left:auto;margin-right:auto;text-align:center}
      .spaced {margin-top:1rem; margin-bottom:1rem}
  body 
    div.main 
      block content
